## 1. Importing necessary libraries

In [2]:
import pandas as pd
import numpy as np

## 2. Reading data

In [4]:
ratings = pd.read_csv('data/rating_final.csv')
cuisine = pd.read_csv('data/chefmozcuisine.csv')

In [5]:
ratings.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

* For a single userID we have a bunch of placeID's.
* Each place gets a reating of either 0, 1 or 2. Where 2 is the best and 0 is the worst.

In [6]:
cuisine.head()

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

## 3. EDA

### Recommending based on counts

In [12]:
# How many ratings for each place?
rating_count = pd.DataFrame(ratings.groupby('placeID')['rating'].count())
rating_count.sort_values(by='rating', ascending=False).head(5)

         rating
placeID
135085       36
132825       32
135032       28
135052       25
132834       25

In [13]:
# The most reviewed is placeID 135085
# Top 5 most rated places
top5_rated_places = pd.DataFrame(rating_count.sort_values(by='rating', ascending=False).head(5))

In [15]:
# Any similarity between the top places on their cuisine?
top5_cuisines = pd.merge(top5_rated_places, cuisine, how='inner', on='placeID')
top5_cuisines

   placeID  rating         Rcuisine
0   135085      36        Fast_Food
1   132825      32          Mexican
2   135032      28        Cafeteria
3   135032      28     Contemporary
4   135052      25              Bar
5   135052      25  Bar_Pub_Brewery
6   132834      25          Mexican

In [16]:
# How many types of cuisines are available? We can see 59 types
cuisine['Rcuisine'].describe()

count         916
unique         59
top       Mexican
freq          239
Name: Rcuisine, dtype: object

Conclusion: Mexican food is the most popular cuisine because it is the most recommened by type of cuisine.